/settings.local.json
/.venv/
/logs/
/artifacts/
/ThirdParty/
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
**/Content/
/.vs/
*.sln
*.suo
*.VC.db
__pycache__/
*.pyc
/sounds/*.wav
/sounds/*.wava
/sounds/*.pkf
/Firefly_audio/

/cesium.local.json
/cache/
**/Plugins/
*.sqlite*
/.env
/.env.*
/*.local.json
*.bundle
*.pem
*.key
